@inherits LayoutComponentBase

@*I added a logo here*@
@*I made this top part a navbar with a sticky top*@
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark justify-content-between">

    <div class="navbar-brand">
        <a href="#" class="ext-left">
            <img src="https://bootstraplogos.com/wp-content/uploads/edd/2018/07/logo.png" width="45" alt="" class="d-inline-block align-middle mr-2 ">
        </a>
    </div>

    <div class="nav-item">
        <span class="navbar-brand m-lg-2 text-white p-2">Bookstore Administration</span>
    </div>

    <div class="navbar-nav">

        <span class="nav-item">
            <a class="btn btn-sm btn-outline-secondary" href="/account/logout">Log Out</a>

        </span>
    </div>

</nav>
<br />

    <div class="container-fluid">

        <div class="row p-2">

            @*buttons*@
            <div class="col-3">

                <div class="d-grid gap-2">
                    @*maybe add btn-block*@
                    <NavLink class="btn btn-outline-primary" href="/admin/books"
                             ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>

                    <NavLink class="btn btn-outline-primary" href="/admin/purchases"
                             ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Purchases</NavLink>
                </div>
            </div>

            <div class="col">
                @Body
            </div>

        </div>

    </div>
